<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
      #drawer
      class="sidenav"
      [ngClass] = "{hidden: !(isHandset$ | async)}"
      fixedInViewport = "false"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item [routerLink]="['/']" routerLinkActive="active" >Profile</a>
      <a mat-list-item [routerLink]="['/']" routerLinkActive="active" >Link 3</a>
      <hr>
      <a mat-list-item [routerLink]="['/']" routerLinkActive="active">Logout</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon" class="material-icons nav-btn">menu</mat-icon>
      </button>
      <div class="home-btn-wrapper nav-btn" [routerLink]="['/dashboard']" routerLinkActive="router-link-active">
        <div class="material-icons home-btn" [ngStyle.lt-sm]="{'padding-right':'0'}">home</div>
        <div fxHide.lt-sm>Home</div>
      </div>
      <div class="material-icons nav-btn search-btn">search</div>

      <div style="flex: 1 1 auto"></div>

      <div class="nav-btn notif-btn" [matMenuTriggerFor]="notif">
        <span class="material-icons" [matBadge]="notif_num" matBadgeOverlap matBadgeColor="warn">notification_important</span>
      </div>
      <mat-menu #notif="matMenu" xPosition="before">
        <div class="notif-headline">
          <span>Notifications</span>
          <button *ngIf="notif_state.length !== 0" class="material-icons clear_all_notifs" style="float: right" (click)="clear_all_notifs(); $event.stopPropagation()">clear_all</button>
        </div>
        <button mat-menu-item class="mat-menu-item" *ngFor="let notif of notif_state; let i = index" [@fadeOut]="notif_state[i].state" (@fadeOut.done)="clear_all_anim_end(i)" [id]="i">
          <span>{{ notif.notif }}</span>
        </button>
        <button mat-menu-item class="mat-menu-item view-all" *ngIf="notif_state.length !== 0" (click)="openDialog()">
          <span style="flex: 1 1 auto"></span><span>View All</span>
        </button>
        <div [ngStyle]="{'padding': '1rem'}" *ngIf="notif_state.length === 0">No new notificaitions</div>
      </mat-menu>

      <div class="nav-btn" fxShow.lt-md="false">
        <span class="material-icons profile-btn">account_circle</span>
        <span>{{ username }}</span>
      </div>

      <div class="material-icons nav-btn menu-btn" [matMenuTriggerFor]="menu" fxShow.lt-md="false">arrow_drop_down</div>
      <mat-menu #menu="matMenu" xPosition="before">
        <button mat-menu-item class="mat-menu-item">
          <span [ngStyle]="{'padding-right': '5px'}">Logout</span><span class="material-icons">logout</span>
        </button>
      </mat-menu>
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
