<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
      #drawer
      class="sidenav"
      fixedInViewport = "true"
      [attr.role]="isMobile ? 'dialog' : 'navigation'"
      [mode]=" isMobile ? 'over' : 'side'"
      [opened]="isMobile ? 'false' : 'true'">
    <mat-nav-list>
      <div [ngStyle]="{'color':'white'}">
        <div [ngStyle]="{'margin': '1rem'}">
          <div [ngStyle]="{'text-align':'center', 'font-size':'1.2rem'}">Bird Animal Helpline</div>
          <div [ngStyle]="{'text-align':'center', 'margin-top':'0.5rem'}">Care for All</div>
        </div>
        <hr/>
        <div class="user-avatar">
          <img src="assets/images/home/index/logo.png">
          <div [ngStyle]="{'padding':'10px'}">#Username</div>
          <div>#Role</div>
        </div>
        <hr/>
        <a mat-list-item [routerLink]="['raise-case']" routerLinkActive="side-nav-active" (click)="close_side_nav()">
          <span><img src="assets/images/dashboard/main-nav/raise-a-case.png" style="height: 25px; margin-right: 5px; filter: invert(100%)"></span><span>Raise a Case</span>
        </a>
        <a mat-list-item [routerLink]="['my-cases']" routerLinkActive="side-nav-active" (click)="close_side_nav()">
          <span><img src="assets/images/dashboard/main-nav/my-cases.png" style="height: 25px; margin-right: 5px; filter: invert(100%)"></span><span>My Cases</span>
        </a>
        <a mat-list-item [routerLink]="['data-change-approvals']" routerLinkActive="side-nav-active" (click)="close_side_nav()">
          <span><img src="assets/images/dashboard/main-nav/user-data-change-approvals.png" style="height: 25px; margin-right: 5px; filter: invert(100%)"></span><span>Data change Approvals</span>
        </a>
        <hr/>
        <a mat-list-item [routerLink]="['/profile']" routerLinkActive="side-nav-active" >Profile</a>
        <a mat-list-item [routerLink]="['/link']" routerLinkActive="side-nav-active" >Link 3</a>
        <hr>
        <div>
          <a mat-list-item><fa-icon [icon]="['fab', 'twitter']"></fa-icon></a>
          <a mat-list-item [routerLink]="['/logout']" routerLinkActive="active">Logout</a>
        </div>
      </div>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="accent">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isMobile">
        <mat-icon aria-label="Side nav toggle icon" class="material-icons nav-btn">menu</mat-icon>
      </button>
      <div class="home-btn-wrapper nav-btn" [routerLink]="['/dashboard/raise-case']" routerLinkActive="router-link-active">
        <div class="material-icons home-btn" [ngStyle.lt-sm]="{'padding-right':'0'}" matRipple>home</div>
        <div fxHide.lt-sm>Home</div>
      </div>
      <div class="material-icons nav-btn search-btn" matRipple (click)="open_search_overlay()">search</div>

      <div style="flex: 1 1 auto"></div>

      <div class="nav-btn notif-btn" [matMenuTriggerFor]="notif" (click)="clear_unread_notifs()">
        <span class="material-icons" [matBadge]="notif_num || ''" matBadgeOverlap matBadgeColor="warn">notification_important</span>
      </div>
      <mat-menu #notif="matMenu" xPosition="before">
        <div class="notif-headline">
          <span>Notifications</span>
          <button *ngIf="notif_state.length !== 0" class="material-icons clear_all_notifs" style="float: right" (click)="clear_all_notifs(); $event.stopPropagation()" matRipple>clear_all</button>
        </div>
        <button mat-menu-item class="mat-menu-item" *ngFor="let notif of notif_state; let i = index" [@fadeOut]="notif_state[i].state" (@fadeOut.done)="clear_all_anim_end(notif)" [id]="i">
          <span>{{ notif.notif }}</span>
        </button>
        <button mat-menu-item class="mat-menu-item view-all" *ngIf="notif_state.length !== 0" (click)="openDialog()">
          <span style="flex: 1 1 auto"></span><span>View All</span>
        </button>
        <div [ngStyle]="{'padding': '1rem'}" *ngIf="notif_state.length === 0">No new notificaitions</div>
      </mat-menu>

      <div class="nav-btn" fxShow.lt-md="false">
        <span class="material-icons profile-btn">account_circle</span>
        <span>{{ username }}</span>
      </div>

      <div class="material-icons nav-btn menu-btn" [matMenuTriggerFor]="menu" fxShow.lt-md="false">arrow_drop_down</div>
      <mat-menu #menu="matMenu" xPosition="before">
        <button mat-menu-item class="mat-menu-item">
          <span [ngStyle]="{'padding-right': '5px'}">Logout</span><span class="material-icons">logout</span>
        </button>
      </mat-menu>
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>

<div class="search-wrapper" *ngIf="search_div" style="padding: 2rem; padding-top: 1rem;" [@fadeIn]="search_div">
  <div [ngStyle]="{'text-align':'center'}">
    <span class="material-icons" ngClass.gt-md="md-36" [ngStyle]="{'margin-right':'1rem', 'color':'dodgerblue'}">search</span>
    <mat-form-field [ngStyle]="{'width':'80vw'}" [ngStyle.lt-md]="{'width':'60vw'}">
      <input type="text" matInput placeholder="Type to search" [formControl]="search_field" autocomplete="off" class="search-input">
    </mat-form-field>
    <span class="material-icons" ngClass.gt-md="md-36" [ngStyle]="{'margin-left':'1rem', 'filter': 'invert(100%)', 'background-color': 'orange', 'cursor': 'pointer'}" (click)="close_search_overlay()">close</span>
  </div>
</div>
