#prev_page:hover {
  transition: background-color 0.35s ease-in-out;
  background-color: #CCC;
}

mat-form-field {
  padding: 0.5rem 0rem;
}

.material-icons { cursor: pointer; }
.material-icons.md-36 { font-weight: 100; font-size: 10rem }
