<div id="step3" [ngStyle.gt-sm]="{'padding': '3rem 3rem 2rem 3rem'}" [ngStyle.lt-md]="{'padding': '2rem', 'padding-bottom':'0'}">

  <form [formGroup]="step3" fxLayout="column" fxLayoutAlign="space-around center" fxLayoutGap="20px">

    <div fxLayout="column">
      <input type="file" name="Upload Display Picture" id="dp" hidden multiple="false">
      <label for="dp" fxFlexAlign="center"><img src="assets/images/home/registration/upload_dp.png" alt="Upload Display Picture" [ngStyle]="{'max-width':'30vw'}" [ngStyle.gt-sm]="{'max-width': '10vw', 'cursor':'pointer'}"></label>
      <label for="dp" [ngStyle.gt-sm]="{'cursor':'pointer'}">Upload Profile Photo</label>
    </div>

    <div fxFlex="grow" fxLayout="column" fxLayoutGap="-10px" [ngStyle]="{'width': '50%'}" [ngStyle.lt-md]="{'width':'60%'}">
      <mat-form-field appearance="outline">
        <mat-label>Username</mat-label>
        <input matInput formControlName="username" required>
        <mat-error *ngIf="formErrors.username">{{formErrors.username}}</mat-error>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput formControlName="pin" required>
        <mat-error *ngIf="formErrors.pin">{{formErrors.pin}}</mat-error>
      </mat-form-field>
    </div>

    <div fxLayout="row" [ngStyle]="{'width':'100%'}">
      <div fxFlex="50%">
        <button type="button" class="material-icons" [routerLink]="['/registration/page2']" routerLinkActive = "router-link-active" [ngStyle]="{'transform': 'rotate(180deg)', 'border-radius':'100%', 'padding':'10px'}" id="prev_page">navigate_next</button>
      </div>
      <div fxFlex="50%" fxLayoutAlign="end" fxLayoutGap="10px">
        <button type="button" mat-raised-button [routerLink]="['/registration/preview']" routerLinkActive="router-link-active" >Preview</button>
        <button type="button" mat-raised-button color="accent" [routerLink]="['/home']" routerLinkActive="router-link-active" >Submit</button>
      </div>
    </div>

  </form>

</div>
