#step2 {
  padding: 2rem;
}

.mat-radio-button ~ .mat-radio-button {
  margin-left: 0.4rem;
}

mat-form-field {
  padding: 0.5rem 0rem;
}

.material-icons { cursor: pointer; }
.material-icons.md-36 { font-weight: 700; }
