#heading {
  box-sizing: border-box;
  padding: 1.5rem;
  background-color: #374047;
  color: white;
  font-size: 1.8rem;
  letter-spacing: 1px;
  height: 11vh;
}

/*------------------- STEP 1 ------------------------*/
#iAmA {
  text-align: center;
  margin-top: 1rem;
  font-size: 1.5rem;
  letter-spacing: 1px;
  margin-bottom: 2rem;
}

.role-select-button {
  box-shadow: 0px 0px 10px #BBB;
  padding: 1rem;
  border-bottom-left-radius: 20%;
  border-bottom-right-radius: 20%;
}

.role-select-button img {
  width: 4.5rem;
  max-width: 4.5rem;
  margin-bottom: 0.5rem;
}

.role-select-button div {
  font-size: 1rem;
}

#home-btn img{
  margin-right: 1rem;
  max-width: 2rem;
}


/*----------FOSTERER--AND--RECEPTIONIST--ANIMATIONS---------*/
@keyframes Fosterer {
    0% {
        transform: scale(0) translateX(1000px);
    }
    100% {
        transform: scale(1) translateX(0vw);
    }
}

.fosterer {
    animation: Fosterer 0.8s forwards 0s ease-in-out;
}

@keyframes Receptionist {
    0% {
        transform: scale(0) translateX(-1000px);
    }
    100% {
        transform: scale(1) translateX(0vw);
    }
}

.receptionist {
    animation: Receptionist 0.8s forwards 0s ease-in-out;
}

@keyframes Fosterer-end {
    0% {
        transform: rotate(0) scale(1);
    }
    100% {
        transform: rotate(720deg) scale(0);
    }
}

.fosterer-end {
    animation: Fosterer-end 0.7s forwards 0s ease-in-out;
}

@keyframes Receptionist-end {
    0% {
        transform: rotate(0) scale(1);
    }
    100% {
        transform: rotate(720deg) scale(0);
    }
}

.receptionist-end {
    animation: Receptionist-end 0.7s forwards 0s ease-in-out;
}

/*------------------- STEP 2 ---------------------*/
form {
  margin-top: 1rem;
}

#step2 {
  padding: 2rem;
}

.mat-radio-button ~ .mat-radio-button {
  margin-left: 0.4rem;
}

mat-form-field {
  padding: 0.5rem 0rem;
}

.material-icons { cursor: pointer; font-weight: 700;}

.disabled-dob, .date_of_birth {
  color: black !important;
}

/*------------------- STEP 3 ---------------------*/
.prev_page:hover {
  border-radius: 50%;
  transition: background-color 0.35s ease-in-out;
  background-color: #CCC;
}

.material-icons { cursor: pointer; margin: -8px; padding: 8px; padding-bottom: 0; }
.material-icons.hover:hover { border-radius: 50%; background-color: #EEE; padding: 8px; color: #374047; }
.material-icons.md-24 { font-weight: 100; font-size: 6rem }
.material-icons.md-36 { font-weight: 100; font-size: 10rem }

.dp_counter_style {
  border: 5px solid rgb(160, 0, 0);
}

/*------------------- PREVIEW ---------------------*/

.preview {
  font-size: 1.2rem;
}

.preview span {
  padding: 1rem 0 1rem 0;
}

.preview_step1, .preview_step2, .preview_step3 {
  border: 1px solid #374047;
  padding: 0 0 1.5rem 0;
  font-size: 1.1rem;
  margin-bottom: 0;
}

.preview_step3, .preview_step1 {
  border-bottom: none;
}

.preview_step3 {
  text-align: center;
}

.preview_step_title_bar {
  box-sizing: border-box;
  margin-bottom: 1rem;
  padding: 1.5rem;
  background-color: #374047;
  color: floralwhite;
}

.preview_step_content {
  line-height: 3rem;
  margin: 0 2rem 0 2rem;
}


.preview_step_content input {
  border: none;
  font-size: 1.1rem;
}

.toggle_visibility {
  border: none;
  outline: none;
  font-size: 1.2rem;
  margin-left: 10px;
}
