<div id="heading" class="mat-display-" [ngStyle.gt-sm]="{'margin-bottom': '3rem'}">Join Us</div>

<div [ngStyle.gt-sm]="{'min-height':'5vh', 'background-color':'#DDD', 'max-width':'50vw', 'transform': 'translateX(50%)'}"></div>

<div [ngStyle.gt-sm]="{'box-sizing':'border-box', 'box-shadow': '0px 0px 20px #CCC', 'padding':'2rem', 'max-width':'50vw', 'transform': 'translateX(50%)', 'overflow': 'none', 'background':'white'}">

    <mat-horizontal-stepper labelPosition="bottom" linear #stepper @flyInOut>

      <!---------------------- STEP 1 ---------------------->

      <mat-step [completed]="completed">
        <ng-template matStepLabel>Select<br>Role</ng-template>
        <div class="registration1-animation" [@flyInOut] = "flyInOut">
          <div id="iAmA">I am a <span style="font-size: 2rem"><i>{{role}}</i></span> </div>
          <div fxLayout="column" fxLayoutGap = "20px">
            <div id="row1" fxLayout fxLayoutAlign="center" fxLayoutGap="3rem" fxLayoutGap.lt-sm="2rem">
              <button class="role-select-button" id="volunteer" (click)="set_role('Volunteer')" matStepperNext>
                <img src="assets/images/home/registration/Volunteer.png" alt="Volunteer"><br>
                <div>Volunteer</div>
              </button>
              <button class="role-select-button" id="driver" (click)="set_role('Driver')" matStepperNext>
                <img src="assets/images/home/registration/Driver.png" alt="Driver"><br>
                <div>Driver</div>
              </button>
            </div>
            <div id="row2" fxLayout fxLayoutAlign="center" fxLayoutGap="3rem" fxLayoutGap.lt-sm="2rem">
              <button class="role-select-button" id="doctor" (click)="set_role('Doctor')" matStepperNext>
                <img src="assets/images/home/registration/Doctor.png" alt="Doctor"><br>
                <div>Doctor</div>
              </button>
              <button class="role-select-button" id="options" (click)="toggle_displayOthers()">
                <img src="{{ imageSrc }}" alt="Other"><br>
                <div>Other</div>
              </button>
            </div>
            <div id="row3" fxLayout fxLayoutAlign="center" fxLayoutGap="3rem" fxLayoutGap.lt-sm="2rem">
              <button class="role-select-button" id="receptionist" [ngClass]="displayOthers ? 'receptionist': 'receptionist-end' " (click)="set_role('Receptionist')" matStepperNext>
                <img src="assets/images/home/registration/Receptionist.png" alt="Receptionist"><br>
                <div>Call</div><div>Attender</div>
              </button>
              <button class="role-select-button" id="Fosterer" [ngClass]="displayOthers ? 'fosterer': 'fosterer-end'" (click)="set_role('Fosterer')" matStepperNext>
                <img src="assets/images/home/registration/Fosterer.png" alt="Fosterer"><br>
                <div>Fosterer</div>
              </button>
            </div>
          </div>
        </div>
        <div fxLayoutAlign="end">
          <button id="home-btn">
            <i class="material-icons" alt="Home" [routerLink]="['/home']" routerLinkActive="router-link-active" [ngStyle.gt-sm]="{'padding-right':'1rem', 'margin-top':'-1rem', 'padding-bottom':'1rem', 'color':'#374047'}" [ngStyle.lt-md]="{'padding-right': '1rem'}">home</i>
          </button>
        </div>
      </mat-step>

      <!---------------------- STEP 2 ---------------------->

      <mat-step [stepControl]="step2">
        <ng-template matStepLabel>Basic<br>Details</ng-template>
        <form [formGroup]="step2">
          <div fxLayoutGap="3%">
            <mat-form-field appearance="outline" fxFlex="48.5%">
              <mat-label>First Name</mat-label>
              <input matInput placeholder="" formControlName="firstName" required>
              <mat-error *ngIf="step2_formErrors.firstName">{{step2_formErrors.firstName}}</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline" fxFlex="48.5%">
              <mat-label>Last Name</mat-label>
              <input matInput placeholder="" formControlName="lastName" required>
              <mat-error *ngIf="step2_formErrors.lastName">{{step2_formErrors.lastName}}</mat-error>
            </mat-form-field>
          </div>

          <div>
            <mat-form-field fxFlex="100%">
              <input matInput [matDatepicker]="picker" placeholder="Choose Date of Birth" formControlName="dob" [max] = "maxyear" [min] = "minyear"  disabled>
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker startView="multi-year" disabled="false" touchUi = "true"></mat-datepicker>
              <mat-error *ngIf="step2_formErrors.dob">{{step2_formErrors.dob}}</mat-error>
            </mat-form-field>
          </div>

          <div fxLayout="row" fxLayoutGap="3%">
            <mat-form-field appearance="outline" fxFlex="20%" fxFlex.gt-sm="10%">
              <input matInput placeholder="" formControlName="countryCode" style="color: black" required>
            </mat-form-field>

            <mat-form-field appearance="outline" fxFlex="">
              <mat-label>Phone Number</mat-label>
              <input matInput placeholder="" formControlName="mobileNumber" pattern="[6789][0-9]{9}" required>
              <mat-error *ngIf="step2_formErrors.mobileNumber">{{step2_formErrors.mobileNumber}}</mat-error>
            </mat-form-field>
          </div>

          <div fxLayout="row" style="margin-bottom: 1rem">
            <span style="margin-right: 0.75rem" [ngStyle.gt-sm]="{'margin-right': '2rem'}">Gender: </span>
            <mat-radio-group aria-label="Select Gender" formControlName="gender" required>
              <mat-radio-button value="M">Male</mat-radio-button>
              <mat-radio-button value="F">Female</mat-radio-button>
              <mat-radio-button value="O">Others</mat-radio-button>
            </mat-radio-group>
            <mat-error *ngIf="step2_formErrors.gender">{{step2_formErrors.gender}}</mat-error>
          </div>

          <div>
            <mat-form-field appearance="outline" fxFlex="100%">
              <mat-label>Email</mat-label>
              <input matInput type = "email" formControlName="emailID" placeholder="abc@abc.com" required>
                <mat-error *ngIf="step2_formErrors.email">{{step2_formErrors.email}}</mat-error>
            </mat-form-field>
          </div>

          <div>
            <h3>Security Question</h3>
            <hr>
            <p>We will be using this question in case you forget your password, so choose wisely.</p>
          </div>
          <div style="padding-top: 0.7rem">
            <mat-form-field fxFlex="100%">
              <mat-label>Select Question</mat-label>
              <mat-select [value]="selectedQues" formControlName="securityQuestion" required>
              <mat-option *ngFor="let ques of securityQuestions; let i = index" [value]="i+1">
                  {{ ques }}
              </mat-option>
              </mat-select>
              </mat-form-field>
          </div>
          <div>
            <mat-form-field fxFlex="100%" color="accent">
              <input matInput placeholder="Your response" formControlName="securityResponse" [type]="hide_secQues ? 'password' : 'text'" required>
              <mat-error *ngIf="step2_formErrors.securityResponse">{{step2_formErrors.securityResponse}}</mat-error>
              <button mat-icon-button matSuffix (click)="hide_secQues = !hide_secQues" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide_secQues">
                <mat-icon>{{hide_secQues ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
            </mat-form-field>
          </div>

          <div fxLayout [ngStyle.lt-md]="{'padding-top': '2rem', 'padding-bottom':'1rem'}" [ngStyle.gt-md]="{'padding-top':'2rem'}">
            <button type="button" class="material-icons" fxLayoutAlign="start" style="transform: rotate(180deg); margin-left: -0.5rem" matStepperPrevious>navigate_next</button>
            <button type="button" class="material-icons" fxLayoutAlign="end" fxFlex="100%" style="margin-right: -0.5rem" matStepperNext (click)="submitStep2()">navigate_next</button>
          </div>

        </form>
      </mat-step>

      <!---------------------- STEP 3 ---------------------->

      <mat-step [stepControl]="step3">
        <ng-template matStepLabel>Account<br>Details</ng-template>

        <form [formGroup]="step3" fxLayout="column" fxLayoutAlign="space-around center" fxLayoutGap="20px">
          <div fxLayout="column" fxLayoutAlign="center">

            <input type="file" name="Upload Display Picture" (change)="onDP_Change($event)" hidden id="dp" multiple="false" accept="image/x-png,image/jpeg,image/jpg">

            <div fxLayout = "column" fxLayoutAlign = "space-around center" style = "width: 100%">
              <mat-spinner [fxShow]="show_loading_gif" style="margin-bottom: 1rem;"></mat-spinner>

              <label [fxShow]="!loading_gif" for="dp"><img [src]="label_url" alt="Upload Display Picture" [ngStyle]="{'max-width':'30vw'}" [ngStyle.gt-sm]="{'max-width': '10vw', 'cursor':'pointer'}" [ngClass]="dp_counter ? 'dp_counter_style' : '' " [fxHide]="hide_dp_placeholder_img"></label>

              <button type="button" [fxHide]="hide_compressed_img" (click)="open_dp_dialog()" [ngStyle]="{'margin-bottom':'1rem'}">
                <img [ngStyle]="{'max-width':'40vw'}" [ngStyle.gt-sm]="{'max-width': '12vw', 'cursor':'pointer'}" *ngIf="imagePreview" [src]="sanitizer.bypassSecurityTrustUrl(imagePreview)">
              </button>
            </div>

            <label for="dp" [ngStyle]="{'cursor':'pointer', 'text-align':'center', 'margin-bottom':'1.5rem'}">{{ upload_dp_label_text }}</label>

            <mat-error *ngIf="compressionError" fxLayoutAlign = "space-around center" style = "width: 100%">{{ compressionError }}</mat-error><br>

            <div [ngStyle.gt-sm]="{'max-width':'80%', 'margin':'auto', 'font-size':'0.9rem'}" style="box-sizing: border-box; background-color: #AFF1AF; padding: 1.5rem; text-align: center">Please make sure that the picture you choose to upload doesn't contain any quotes or any picture other than yourself, as this picture will be used for further identifiction and verification.</div>
          </div>

          <div fxFlex="grow" fxLayout="column" fxLayoutGap="-10px" [ngStyle]="{'width': '50%'}" [ngStyle.lt-md]="{'width':'60%'}">
            <mat-form-field appearance="outline">
              <mat-label>Username</mat-label>
              <input matInput formControlName="username" required>
              <mat-error *ngIf="step3_formErrors.username">{{step3_formErrors.username}}</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
              <mat-label>Password</mat-label>
              <input matInput placeholder="4 Digit PIN" formControlName="pin" pattern="[0-9]{4}" [type]="hide_pass ? 'password' : 'text'" required>
              <mat-error *ngIf="step3_formErrors.pin">{{step3_formErrors.pin}}</mat-error>
              <button mat-icon-button matSuffix (click)="hide_pass = !hide_pass" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide_pass">
                <mat-icon>{{hide_pass ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
            </mat-form-field>
          </div>

          <div fxLayout="row" [ngStyle]="{'width':'100%'}">
            <div fxFlex="50%">
              <button type="button" class="material-icons prev_page" matStepperPrevious [ngStyle]="{'transform': 'rotate(180deg)', 'border-radius':'100%', 'padding':'10px'}">navigate_next</button>
            </div>
            <div fxFlex="50%" fxLayoutAlign="end" fxLayoutGap="10px">
              <button type="button" matStepperNext mat-raised-button (click)="submitStep3()" [ngStyle]="{'background-color':'#f4f4f4'}">Preview</button>
            </div>
          </div>

        </form>
      </mat-step>

      <!---------------------- PREVIEW ---------------------->

      <mat-step>
        <ng-template matStepLabel>Preview</ng-template>
        <div *ngIf="!previewData else preview"></div>

        <ng-template #preview class="preview">

          <div class="preview_step3" fxLayout="column">
            <div class="preview_step3_title_bar" fxLayout>
              <span fxFlex="50%" class="preview_step3_title">Account Details</span>
              <span fxFlex="50%" fxLayoutAlign="end" class="material-icons md-36">edit</span>
            </div>
            <div class="preview_step3_content">
              <button type="button" fxFlexAlign="space-around center" (click)="open_dp_dialog()" [ngStyle]="{'margin-bottom':'1rem'}">
                <img [ngStyle]="{'max-width':'30vw'}" [ngStyle.gt-sm]="{'max-width': '10vw', 'cursor':'pointer'}" *ngIf="imagePreview" [src]="sanitizer.bypassSecurityTrustUrl(imagePreview)">
              </button>
              <div>
                <span>Username: </span> <span>{{ step3_data.username }}</span>
              </div>
              <div>
                <span>Password: </span>
                <span>
                  <input [type]="pass_pin_hide ? 'password' : 'text'" [value]="step3_data.pin" class="toggle_visibility">
                  <button mat-icon-button matSuffix (click)="pass_pin_hide = !pass_pin_hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="pass_pin_hide">
                    <mat-icon>{{pass_pin_hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                  </button>
                </span>
              </div>
            </div>
          </div>

          <div class="preview_step1">
            I am a: <span style="font-size: 1.5rem"><i>{{ role }}</i></span>
          </div>

          <div class="preview_step2">
            <span>Name: </span> <span>{{ step2_data.firstName + " " + step2_data.lastName }}</span><br>
            <span>Date of Birth: </span> <span>{{ step2_data.dob }}</span><br>
            <span>Mobile Number: </span> <span>+91 - {{ step2_data.mobileNumber }}</span><br>
            <span>Gender: </span> <span>{{ step2_data.gender }}</span><br>
            <span>Email: </span> <span>{{ step2_data.emailID }}</span><br>
            <span>Security Question: </span> <span>{{ securityQuestions[step2_data.securityQuestion] }}</span><br>
            <span>Security Question Response: </span>
            <span>
              <input [type]="sec_response_hide ? 'password' : 'text'" [value]="step3_data.pin" class="toggle_visibility">
              <button mat-icon-button matSuffix (click)="sec_response_hide = !sec_response_hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="sec_response_hide">
                <mat-icon>{{sec_response_hide ? 'visibility_off' : 'visibility'}}</mat-icon>
              </button>
            </span><br>
          </div>

        </ng-template>

      </mat-step>

    </mat-horizontal-stepper>
  </div>

<div [ngStyle.gt-sm]="{'min-height':'5vh', 'background-color':'#DDD', 'max-width':'50vw', 'transform': 'translateX(50%)', 'margin-bottom':'2rem'}"></div>
