<main [fxShow]="home">
  <div>
    <button id="info-btn" (click)="toggleAboutUs()" fxLayout="row" fxLayoutAlign="end">
      <a><img src = "assets/images/home/index/aboutus.png" alt = "About Us" [ngStyle]="{'padding': '2vh', 'width':'2.5rem'}" [ngStyle.lt-md]="{'padding':'3vh','width':'3rem'}"></a>
    </button>
  </div>
  <div [ngStyle]="{'text-align':'center'}">
    <div [ngStyle.lt-md]="{'min-height': '50vh'}"><img src="assets/images/home/index/logo.png" id = "logoImage" alt = "Logo" [ngStyle.lt-md]="{'max-width':'65vw'}"></div>
    <div id="cta-btns" [ngStyle.gt-sm]="{'margin-top':'10vh'}" [ngStyle.lt-md]="{'margin-top':'5vh'}">
      <button id="createAccount" [routerLink]="['/registration']" routerLinkActive="router-link-active" >Create an Account</button>
      <button id="signIn" [routerLink]="['/signIn']" routerLinkActive="router-link-active" >Sign In</button>
    </div>
  </div>
</main>

<div id = "aboutus" [fxShow]="aboutUs" class="animated fadeIn forwards">
  <p id = "aboutus-info">Helpling Birds and Animals in distress is our Business.<br>We cover most of Mumbai with the help of various other Ngo's.<br><br>Call on - 8655370005 for HELP !!<br>
  </p>
  <div>
  <button type = "button" id = "backbutton" (click)="toggleAboutUs()">Back</button>
  </div>
</div>
