<div [ngStyle] = "{'padding':'2rem'}" [ngStyle.lt-md]="{'padding':'1.5rem'}">
  <mat-card style="padding: 0rem !important">
    <mat-card-header style="background-color: #BCBDC0; padding: 1rem !important; padding-bottom: 0rem !important">
      <mat-card-title>{{ card_header | async }}</mat-card-title>
      <mat-card-subtitle>Case - 8697</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content style="padding: 2rem !important">
      <router-outlet></router-outlet>
    </mat-card-content>
  </mat-card>
</div>
