#heading {
  box-sizing: border-box;
  background-color: #374047;
  color: white;
  letter-spacing: 1px;
  height: 11vh;
  line-height: 11vh;
  padding-left: 1rem;
  margin: 0;
}

.material-icons { cursor: pointer; font-weight: 700; color: #374047 }
.material-icons.hover:hover { border-radius: 50%; background-color: #EEE; padding: 8px; }
.material-icons.md-24 { font-weight: 100; font-size: 6rem }
.material-icons.md-36 { font-weight: 100; font-size: 10rem }

.home-btn { padding: 10px; }
.next-btn { font-size: 36px; padding: 10px; }
.next-btn:hover, .home-btn:hover { background-color: #EEE; border-radius: 50%; transition: background-color 0.35s ease-in-out; }

//--------------PREVIEW-----------------
.preview_step1, .preview_step2, .preview_step3 {
  padding: 1rem;
  border: 1px solid #374047;
}

.preview_step1, .preview_step2 {
  border-bottom: none;
}

.preview-header {
  padding: 1rem;
  padding-bottom: 0;
}

.preview-step-content {
  padding: 1rem;
}

.edit {
  margin: -10px;
  padding: 10px;
  vertical-align: top;
}
.edit:hover { background-color: #EEE; border-radius: 50% }

.content-field-header {
  margin-right: 10px;
  font-weight: 500;
}

.pincode-header, .timings-header, .timing {
  margin-left: 20px;
}
