
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$Bird-Animal-Helpline-primary: mat-palette($mat-grey, A900, A400, A950);
$Bird-Animal-Helpline-accent: mat-palette($mat-blue, A700, A500, A900);

// The warn palette is optional (defaults to red).
$Bird-Animal-Helpline-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$Bird-Animal-Helpline-theme: mat-light-theme($Bird-Animal-Helpline-primary, $Bird-Animal-Helpline-accent, $Bird-Animal-Helpline-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.

.dashboard-theme{
@include angular-material-theme($Bird-Animal-Helpline-theme);
}


$Bird-Animal-Helpline-primary-mobile: mat-palette($mat-blue-grey, A800, A400, A900);
$Bird-Animal-Helpline-accent-mobile: mat-palette($mat-green, 800, 600, 900);
$Bird-Animal-Helpline-warn-mobile: mat-palette($mat-red);
$Bird-Animal-Helpline-theme-mobile: mat-light-theme($Bird-Animal-Helpline-primary-mobile, $Bird-Animal-Helpline-accent-mobile, $Bird-Animal-Helpline-warn-mobile);

.mobile-theme{
    @include angular-material-theme($Bird-Animal-Helpline-theme-mobile);
}


.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }


/* You can add global styles to this file, and also import other style files */
html, body {
  box-sizing: border-box;
  padding: 0;
  margin: 0 auto;
  background-color: rgb(244, 244, 244);
  font-family: 'Open Sans', sans-serif;
  height: 100%;
  width: 100%;
  text-decoration: none;
  font-size: 1.05rem;
}

a, a:visited, a:link, a:active {
  text-decoration: none;
}

main {
  box-sizing: border-box;
  width: 100%;
}

button, input[type = "submit"] {
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

input:disabled {
  background: transparent;
  background-color: transparent;
}

ul li {
  list-style-type: none;
}

hr {
    border: 0;
    height: 1.2px;
    background-image: linear-gradient(to right, rgba(180, 180, 180, 0), rgba(180, 180, 180, 0.75), rgba(180, 180, 180, 0));
}

/* Didn't work in main-nav component, hence put it here */
.mat-menu-panel { overflow-x: hidden !important }
